*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /** Primary Colors **/
    --Strong-Cyan: hsl(171, 66%, 44%);
    --Light-Blue: hsl(233, 100%, 69%);
    /** Neutral Colors **/
    --Dark-Grayish-Blue: hsl(210, 10%, 33%);
    --Grayish-Blue: hsl(201, 11%, 66%);
}

body {
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 18px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url(../images/bg-header-desktop.png);
    background-size: contain;
    background-repeat: no-repeat;
    margin: 0 auto;
}

main {
    width: 100%;
}

a {
    text-decoration: none;
}

a:hover{
    color: var(--Strong-Cyan);
}

.main-container {
    display: flex;
    flex-direction: column;
    width: 67.5rem;
    margin: 0 auto;
}

.logo-img {
    width: 100px;
    height: 100px;
}

h1 {
    font-size: 2.4193rem;
    color: var(--Dark-Grayish-Blue);
    margin-top: 5rem;
}

h2 {
    font-size: 1.86em;
}

p {
    font-size: 1.1rem;
    color: var(--Grayish-Blue);
    margin-top: 0.5rem;
}

.section {
    margin-top: 8rem;
}

.section-1 {
    margin-top: 8.625rem;
}

.container {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.txt-container {
    width: 601px;
    text-align: center;
}

.btn-container {
    margin-top: 3rem;
}

.btn {
    font-size: 1rem;
    padding: 0.6rem 1rem;
    border-radius: 1.5rem;
    width: 195px;
    cursor: pointer;
}

.iOSbtn {
    background-color: var(--Strong-Cyan);
    border: 1px solid var(--Strong-Cyan);
    box-shadow: hsla(171, 48%, 40%, 1) 1px 2px 1px;
    color: white;
}

.macBtn {
    margin-left: 10px;
    background-color: var(--Light-Blue);
    border: 1px solid var(--Light-Blue);
    box-shadow: hsla(233, 90%, 60%, 1) 1px 2px 1px;
    color: white;
}

.txt-container h2 {
    color: var(--Dark-Grayish-Blue);
}

.img-aside {
    margin-top: 4rem;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.image-computer {
    background-image: url(../images/image-computer.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 100%;
    height: 570px;
    margin-left: -210px;
}

aside h3 {
    margin-top: 4.5rem;
    color: var(--Dark-Grayish-Blue);
}

aside p {
    width:370px;
}

.aside-content {
    margin-right: 4rem;
}

.devices {
    margin-top: 3rem;
}

.grid {
    display: flex;
    flex-direction: row;
}

.grid-container {
    display: flex;
    width: 59.375rem;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    margin: 0 auto;
}

.grid-container h3 {
    color: var(--Dark-Grayish-Blue);
    margin: 1.5rem 0 0.8rem;
}

.brands {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 59.375rem;
    margin: 0 auto;
}

.brands img {
    height: 50%;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background-color: hsl(201deg 11% 90%);
    height: auto;
}

.footer-container {
    display: flex;
    flex-direction: row;
    width: 100%;
    align-items: center;
    margin-top: 2rem;
    justify-content: center;
}

.footer-logo {
    margin: 0 6rem;
}

.footer-logo img {
    width: 3.125rem;
    height: 3.125rem;
}

.footer-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto auto;
    column-gap: 2rem;
    row-gap: 1rem;
    font-size: 0.89rem;
}

.grid-items{
    color: var(--Dark-Grayish-Blue);
}

.footer-sm {
    display: flex;
    align-items: center;
    margin: 0 3rem 0 30rem;
}

.footer-sm-icons {
    margin: 0 0.8rem;
}


/** Responsive styles **/
@media (max-width: 768px){
    body {
        font-size: 12px;
    }

    .main-container {
        align-items: center;
    }

    .section {
        width: 46.875rem;
    }

    .image-computer {
        height: 475px;
        margin: 0;
    }

    aside h3 {
        margin-top: 1.5rem;
    }

    .aside-content {
        margin: 0;
        padding: 1rem;
    }

    .devices {
        height: 25rem;
    }

    .grid-container {
        width: 100%;
    }

    .brands {
        width: 46.875rem;
        align-items: center;
    }

    .brands img {
        height: 50%;
        width: 15%;
    }

    .footer {
        width: 100%;
    }

    .footer-container {
        justify-content: inherit;
    }

    .footer-container{
        width: 68%;
    }

    .footer-logo {
    margin: 0;
    }

    .footer-grid {
        column-gap: 1rem;
    }

    .footer-sm {
        margin: 0;
    }
}



@media all and (max-width: 480px){
    body {
        background-image : url(../images/bg-header-mobile.png)
    }

    .main-container {
        width: 30rem;
    }
    .logo-img {
        width: 8.75rem;
        height: 8.75rem;
    }
    h1 {
    width: 23.5rem;
    }
    p {
        width: 21.25rem;
        margin: 1.125rem;
    }
    .section { 
    width: 25rem;
    }
    .txt-container {
        width: 23.5rem;
        margin-top: 2rem;
    }
    .btn-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .btn {
        width: 21.0625rem;
        font-size: 1.13rem;
    }
    .iOSbtn {
        margin-bottom: 1.5rem;
    }
    .macBtn {
        margin: 0;
    }
    .txt-container h2 {
        font-size: 2rem;
    }
    .img-aside {
        flex-direction: column;
        align-items: center;
    }
    .image-computer {
        height: 19.375rem;
    }
    aside h3 {
        font-size: 1.5rem;
    }
    aside p {
        margin: 0.9375rem;
        padding: 0;
    }
    .aside-content {
        text-align: center;
        padding: 0;
    }
    .devices {
        height: 14.9375rem;
    }
    .grid-container {
        flex-direction: column;
    }
    .brands {
        width: 21.875rem;
        flex-direction: column;
        column-gap: 1rem;
    }
    .brands img {
        width: 40%;
        height: 20%;
        margin-bottom: 4rem;
    }
    .footer-container {
        flex-direction: column;
    }
    .footer-logo img {
        margin-bottom: 2rem;
    }
    .footer-grid {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 2rem;
    }
}


@media (max-width: 375px){
    body {
        font-size: 10px;
    }

    .main-container { 
    width: 23.4375rem;
    }

    h1 { 
    width: 21rem;
    font-size: 2rem;
    }
    p { 
        width: 21.0625rem;
        margin: 0;
    }
    .section { 
    width: 22.5rem;
    }
    .txt-container { 
    width: 21rem;
    }
    .image-computer {
        width: 21.875rem;
        height: 270px;
    }
    aside p { 
    width: 21.875rem;
    margin: 0;
    }
}